@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg * {
  pointer-events: none;
}
